/* font-family: 'Lato', sans-serif;
font-family: 'Rubik', sans-serif; */

body{
    background-color: whitesmoke;
}
input {
    border-radius: 2px;
}
img:hover{
    transform: scale(1.1);
    transition-duration: 0700ms;
};
.success, .error {
    color: #fff;
    padding: 5px;
    margin: 5px 0 15px 0;
}
.success{
    background-color: #00ff002b;
}
.error {
    background-color: red;
}
.submitBtn{
    margin: 1em;
    padding: 1.2em;
}
#submitBtn{
    background-color: #00ff0052;
  
}
.watching{
    background-color: aquamarine;
}
.noWatch{
    background-color: crimson;
}
img{
    width: 25px;
    height: 25px;
}
label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    font-size: 16px;
    font-kerning: normal;
    font-family: 'Rubik', sans-serif;
}
h1{
    font-family: 'Lato', sans-serif;
    padding-right: 1em;
    padding-bottom: 1em;
    display: inline;
}
